@font-face {
    font-family: ArdleysHand;
    src: url("fonts/ArdleysHand.ttf");
}
.homeheading{
	margin-top: 100px;
	margin-bottom: 75px;
	a{
		color: white;
		font-weight: normal;
		&:hover{
			text-decoration: none;
		}
	}
	span{
		display: block;
	}
	.titletext{
		font-family: ArdleysHand;
		font-size: 173px;
		line-height: 0.7;
		text-shadow: 3px 3px 1px rgba(0, 0, 0, 0.76);
		letter-spacing: -6px;
		margin: 20px 73px -20px;
		opacity: 0;
		transition: opacity 2s;
		transition-delay: 2s;
		span{
			position: relative;
			&:first-child{
				left: -58px;
			}
			&:last-child{
				right: -58px;
			}
		}
	}
	.titletextsmall{
		font-size: 14px;
		text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.76);
		opacity: 0;
		transition: opacity 2s, left 2s;
		position: relative;
		&.top{
			transition-delay: 1s;
			text-align: left;
			left:-300px;
			padding-left: 100px;
		}
	}
	@media(max-width: 860px){
		.titletext{
			font-size: 100px;
			margin-bottom: 20px;
			margin-left: 30px;
			margin-right: 30px;
			span{
				&:first-child{
					left:-30px;
				}
				&:last-child{
					right:-30px;
				}
			}
		}
	}
	@media(max-width:500px){
		.titletext{
			font-size: 70px;
			margin-left:20px;
			margin-right:20px;
			span{
				&:first-child{
					left: -20px;
				}
				&:last-child{
					right: -20px;
				}
			}
		}
	}
}
#clients-section{
	h2{
		color: #525252;
	}
	.logo-container, .logo-double-container{
		width: 200px;
		height:200px;
		display: inline-block;
		vertical-align: top;
		margin: 12px;
		padding: 12px;
	}
	.logo-container, .logo-double{
		background-color: #d5d5d5;
		border-radius: 5px;
	}
	.logo-container{
		img{
			max-width:100%;
			max-height:200px;
		}
	}
	.logo-double-container{
		position: relative;
		.logo-double{
			position:absolute;
			padding:12px;
			&:first-child{
				width:150px;
				height:150px;
				top:0;
				left:0;
			}
			&:last-child{
				width:150px;
				height:55px;
				right:0;
				bottom:0;
				padding: 6px 12px;
				img{
					max-height: 55px;
				}
			}
		}
		img{
			max-width:100%;
			max-height:100%;
		}
	}
	.vertical-center-container{
		display: table;
		width:100%;
		height:100%;
	}
	.vertical-center-inner{
		display: table-cell;
		vertical-align: middle;
		width:100%;
		height:100%;
	}
	@media (max-width: 533px) {
		.logo-container, .logo-double-container {
			width: 100px;
			height: 100px;
			margin: 11px;
		}
		.logo-container img {
			max-height: 100px;
		}
		.logo-double-container {
			.logo-double{
				&:first-child{
					width: 75px;
					height: 75px;
				}
				&:last-child{
					width: 75px;
					height: 27px;
					img {
						max-height: 27px;
					}
				}
			}
		}
	}
}
#technology-section {
	img {
		max-width: 30%;
	}
}
#projects-section {
	.projectbox {
		border-radius: 5px;
		overflow: hidden;
		background-color: $mediumgray;
		@include clearfix();
		.projectimage {
			width: 50%;
			img {
				max-width: 100%;
				&:not(:first-child) {
					display: none;
				}
			}
		}
		.projectinfo {
			width: 50%;
			padding: 0 26px;
			box-sizing: border-box;
			position: relative;
			mark {
				color: $lightergray;
			}
			p {
				color: $lightgray;
			}
		}
		@media (max-width: 700px) {
			.projectimage, .projectinfo {
				width: 100%;
			}
		}
	}
	.projectlist {
		li:nth-child(odd){
			.projectbox {
				text-align: left;
				.projectimage, .projectinfo {
					float: left;
				}
			}
		}
		li:nth-child(even){
			.projectbox {
				text-align: right;
				.projectimage, .projectinfo {
					float: right;
				}
			}
		}
	}
}
