@font-face {
    font-family: ArdleysHand;
    src: url("fonts/ArdleysHand.ttf");
}

.content {
	max-width: $xlrg-min;
	margin: 0 auto;
	@media (max-width: $lrg-max) {
		max-width: $lrg-min;
	}
	@media (max-width: $med-max) {
		max-width: $med-min;
	}
	@media (max-width: $sml-max) {
		max-width: $sml-min;
	}
	@media (max-width: $xsml-max) {
		max-width: $xsml-min;
	}
}
section > .content {
	padding: 50px 10px;
	box-sizing: border-box;
}

#home-section{
	background-image: url("img/home-background-tile.png"); 
	box-sizing: border-box;
	.header-contact-info {
		$contact-spacing-lrg: 101px;
		$contact-spacing-med: 10px;
		position: absolute;
		top:15px;
		left:0;
		right:0;
		font-size: 15px;
		color: $lightgray;
		margin-left: -$contact-spacing-lrg;
		margin-right: -$contact-spacing-lrg;
		transition: color 3s, font-size 0.2s;
		&.flash {
			color: $highlightcolor;
			font-size: 17px;
			transition: color 0.1s, font-size 0.2s;
		}
		span {
			@include hover-text-fade($highlightcolor);
			margin: 0 $contact-spacing-lrg;
			display: inline-block;
		}
		@media (max-width: $med-max) {
			margin-left: -$contact-spacing-med;
			margin-right: -$contact-spacing-med;
			span {
				margin: 0 $contact-spacing-med;
			}
		}
		@media (max-width: $sml-max) {
			span {
				display: block;
				line-height: 2;
			}
		}
	}
}
.homeheading{
	padding-bottom: 75px;
	a{
		color: white;
		font-weight: normal;
		&:hover{
			text-decoration: none;
		}
	}
	span{
		display: block;
	}
	.titletext{
		font-family: ArdleysHand;
		font-size: 173px;
		line-height: 0.7;
		text-shadow: 3px 3px 1px rgba(0, 0, 0, 0.76);
		letter-spacing: -6px;
		margin: 20px 0;
		opacity: 0;
		transition: opacity 2s;
		transition-delay: 2s;
		span{
			position: relative;
			&:first-child{
				left: -110px;
			}
			&:last-child{
				right: 0;
			}
		}
	}
	.titletextsmall{
		font-size: 14px;
		text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.76);
		opacity: 0;
		transition: opacity 2s, left 2s;
		position: relative;
		&.top{
			transition-delay: 1s;
			text-align: left;
			left:-300px;
		}
	}
	@media(max-width: $med-max) {
		.titletext{
			span {
				&:first-child{
					left:-110px;
				}
			}
		}
	}
	@media(max-width: $sml-max){
		.titletext{
			font-size: 115px;
			span{
				&:first-child{
					left:-70px;
				}
			}
		}
	}
	@media(max-width: $xsml-max){
		.titletext{
			font-size: 90px;
			span{
				&:first-child{
					left: -52px;
				}
			}
		}
	}
}
#clients-section{
	h2{
		color: $mediumgray;
	}
	.logo-container, .logo-double-container{
		width: 200px;
		height:200px;
		display: inline-block;
		vertical-align: top;
		margin: 12px;
		padding: 12px;
	}
	.logo-container, .logo-double{
		background-color: $lightergray;
		border-radius: 5px;
	}
	.logo-container{
		img{
			max-height:200px;
		}
	}
	.logo-double-container{
		position: relative;
		.logo-double{
			position:absolute;
			padding:12px;
			&:first-child{
				width:150px;
				height:150px;
				top:0;
				left:0;
			}
			&:last-child{
				width:150px;
				height:55px;
				right:0;
				bottom:0;
				padding: 6px 12px;
				img{
					max-height: 55px;
				}
			}
		}
		img{
			max-height:100%;
		}
	}
	.vertical-center-container{
		display: table;
		width:100%;
		height:100%;
	}
	.vertical-center-inner{
		display: table-cell;
		vertical-align: middle;
		width:100%;
		height:100%;
	}
	@media (max-width: $sml-max) {
		.logo-container, .logo-double-container {
			width: 100px;
			height: 100px;
			margin: 11px;
		}
		.logo-container img {
			max-height: 100px;
		}
		.logo-double-container {
			.logo-double{
				&:first-child{
					width: 75px;
					height: 75px;
				}
				&:last-child{
					width: 75px;
					height: 27px;
					img {
						max-height: 27px;
					}
				}
			}
		}
	}
}
#code-sample-section {
	ul {
		@include blocky-list-of-items('link');
		width: 50%;
		margin: auto;
		@media (max-width: $med-max) {
			width: 100%;
		}
	}
}

#projects-section {
	.projectarticle{
	  margin-bottom: 50px;
	}
	.projectbox {
		border-radius: 5px;
		overflow: hidden;
		background-color: $mediumgray;
		@include clearfix();
		.projectimage {
			width: 50%;
		}
		.projectinfo {
			width: 50%;
			padding: 0 26px;
			box-sizing: border-box;
			position: relative;
			mark {
				color: $lightergray;
			}
			p {
				color: $lightgray;
			}
		}
		@media (max-width: $sml-max) {
			.projectimage, .projectinfo {
				width: 100%;
			}
		}
	}
	.projectlist {
		li:nth-child(odd){
			.projectbox {
				text-align: left;
				.projectimage, .projectinfo {
					float: left;
				}
			}
		}
		li:nth-child(even){
			.projectbox {
				text-align: right;
				.projectimage, .projectinfo {
					float: right;
				}
			}
		}
	}
}

#about-section {
	.aboutname {
		font-size: 20px;
		color: $white;
	}
}
