/* blog */
.blogTitleInput, .blogTextInput, .projectTitleInput, .projectDescInput, .projectSkillsInput, .projectWebsiteInput, .projectDetailsInput{
	width:100%;
}
.blogTextInput, .projectDescInput, .projectSkillsInput, .projectDetailsInput{
	height: 100px;
	resize:vertical;
}
.deleteProject{
	position: absolute;
	right:10px;
	top:10px;
	color: red;
	cursor:pointer;
}
.pubyes{
	color: green;
}
.pubno{
	color: gray;
}
.edit-buttons{
	position: absolute;
	right:10px;
	top:10px;
	cursor:pointer;
	color:white;
	i:hover{
		color:yellow;
	}
}
.add-project{
	display:none;
	background-color: #525252;
	padding: 5px 3% 30px 3%;
	margin: 20px 0;
}
.update-project{
	display:none;
	padding: 5px 3% 30px 3%;
	color: black;
}

.add-project-btn{
	cursor: pointer;
}

.add-blog, .update-blog{
	display:none;
}

.green{
	color:green;
}
#login-dropdown-list{
	top: auto;
	bottom:-1px;
}