/* blog */
.blogTitleInput, .blogTextInput, .projectTitleInput, .projectDescInput, .projectSkillsInput, .projectWebsiteInput, .projectDetailsInput{
	width:90%;
}
.blogTextInput, .projectDescInput, .projectSkillsInput, .projectDetailsInput{
	height: 100px
}
.deleteBlog, .deleteProject{
	position: absolute;
	right:10px;
	top:10px;
	color: red;
	cursor:pointer;
}
.pubfalse{
	.blogsummary, .projectsummary{
		background-color: darkgray;
	}
}