/* blog */
.blogTitleInput, .blogTextInput{
	width:90%;
}
.blogTextInput{
	height: 200px
}
.deleteBlog{
	position: absolute;
	right:10px;
	top:10px;
	color: red;
	cursor:pointer;
}
.pubfalse .blogsummary{
	background-color: darkgray;
}