/* style.scss */
$dark-bg-color: #313131;
$light-bg-color: #f5f5f5;
$medium-color: #525252;
$highlight-color: #fc5703;
$dark-text-color: $dark-bg-color;
$light-text-color: $light-bg-color;
$round-radius: 5px;
/*{outline: 1px solid red;}*/

body{
	font-family:sans-serif;font-size:18px;
	margin:0;
	text-align:center;
	word-wrap: break-word
}
a{
	text-decoration: none; color: $highlight-color;
	&:hover{font-weight: bold;}
}
h1{margin: 10px 0}
h2{margin: 0 0 50px 0; font-size:50px}
h3{font-size:25px; font-weight: normal;}
mark{background-color: transparent; color: $highlight-color}
code{display:block;margin: 0 6%;color: grey}
ul{padding:0 0 0 3%}

/*remove list styles from lists*/
.projectlist, .projectskills, .bloglist, .skillslist, .secondskillslist{
	list-style-type:none; padding:0; margin: 0;
}

.pageheader{
	padding: 10px 3%; text-align: center;
	box-shadow: 0 2px 4px black; z-index: 5; position: relative;
	&>div, &>nav{display:inline-block; vertical-align: middle;}
}
	.socialmedia{
		height: 25px; margin: 5px; position: relative; vertical-align: top;
		&:hover{top:-5px}
		transition: top 0.5s;
	}
	.pagenav{
		&>ul{list-style-type:none; padding:0 30px; margin: 0;}
		li{display:inline-block; padding: 0 10px;}
		li>a{
			color: $dark-text-color;
			&:hover{color: $highlight-color; font-weight: normal;}
			transition: color 0.3s;
		}
	}

section{
	padding: 50px 3%;
	position: relative;
	&:nth-child(even){
	background-color: $dark-bg-color; color: $light-text-color;
		&>header{color:$medium-color}
	}
	&:nth-child(odd){
	background-color: $light-bg-color; color: $dark-text-color
	}

}
	.sectioncontent{
		max-width: 1000px; margin:auto;
	}
	.menubutton{
		position: absolute; top:10px; left:10px;
	}

/*home*/
.homesection{
	background-image: url('img/home-background-tile.png');
}
	.homeheading{

		background: -moz-radial-gradient(center, ellipse cover, rgba(255,255,255,0.2) 0%, rgba(255,255,255,0) 70%); /* FF3.6+ */
		background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(255,255,255,0.2)), color-stop(70%,rgba(255,255,255,0))); /* Chrome,Safari4+ */
		background: -webkit-radial-gradient(center, ellipse cover, rgba(255,255,255,0.2) 0%,rgba(255,255,255,0) 70%); /* Chrome10+,Safari5.1+ */
		background: -o-radial-gradient(center, ellipse cover, rgba(255,255,255,0.2) 0%,rgba(255,255,255,0) 70%); /* Opera 12+ */
		background: -ms-radial-gradient(center, ellipse cover, rgba(255,255,255,0.2) 0%,rgba(255,255,255,0) 70%); /* IE10+ */
		background: radial-gradient(ellipse at center, rgba(255,255,255,0.2) 0%,rgba(255,255,255,0) 70%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#33ffffff', endColorstr='#00ffffff',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

		display:inline-block; overflow: hidden;
		position: relative;
		margin:auto; margin-top: 40px;
		max-width: 900px;
		transition: opacity 2s; opacity: 0;
	}
		.titleimage{
			opacity: 0;
			width: 100%;
			&:nth-child(1){
				position: absolute; top:0; 
				transition: opacity 2s, left 2s;transition-delay: 1s;
				left:-300px
			}
			&:nth-child(2){
				transition: opacity 2s; transition-delay: 3s;
			}
			&:nth-child(3){
				position: absolute; top:0; 
				transition: opacity 2s, left 2s; transition-delay: 3s;
				left:300px;
			}
		}
	.leaddown{
		height: 80px;
		z-index: 2; position: relative;
		&>div{
			width: 20px;
			height: 20px;
			margin: 40px auto 40px auto;
			background-color: $highlight-color;
			border-radius: 10px;
			position: relative; top:-40px;
			opacity: 0; transition: opacity 1s, top 1s;
			&:nth-child(1){transition-delay: 4s; margin-top: 0;}
			&:nth-child(2){transition-delay: 4.5s;}
			&:last-child{
				border-radius: 0;
				-webkit-transform: rotate(45deg);
		           -moz-transform: rotate(45deg);
		            -ms-transform: rotate(45deg);
		             -o-transform: rotate(45deg);
		                transform: rotate(45deg);
				transition-delay: 5s;
			}
		}
	}
/*skills*/
	.skillstitle{
		max-width: 240px;height: 240px;border-radius: 240px; line-height: 240px;
		background-color: $highlight-color;
		border: 20px solid #d5d5d5;
		margin: auto;
		font-size: 24px;
	}
		.skillslist {
			max-width: 400px;
			margin: auto;
			li{
				display:inline-block;
				width: 90px; height: 90px; line-height: 90px; border-radius: 90px;
				margin: 3px;
				border: 10px solid #d5d5d5;
				background-color: $dark-bg-color;
				color: $light-text-color;
				&:hover{border-color: $highlight-color;}
				transition: border-color 0.5s;
			}
		}
	.secondskillstitle{
		font-size: 24px;
		margin: 40px 0 10px 0;
	}
		.secondskillslist li
		{
			display: inline-block;
			margin:2px 5px;
			padding: 5px;
			background-color: #d5d5d5;
			border-radius: 5px
		}
/*projects*/
	.projectsummary{
		background-color: $medium-color;
		padding: 5px 3% 30px 3%;
		margin: 0;
		border-radius: $round-radius;
	}
	.projectfooter{
	-webkit-columns:295px 3;
	   -moz-columns:295px 3;
	    -ms-columns:295px 3;
	     -o-columns:295px 3;
	        columns:295px 3;
		position: relative;
		top:-23px;

		&>ul, &>div{display:inline-block;margin:2px}
	}
		.projectskills{
			width: 295px;
			li{
				display:inline-block;
				width: 60px; height: 60px; border-radius: 60px;
				vertical-align: top;
				border-width: 5px;
				border-style: solid;
				border-color: $light-text-color;
				background-color: $dark-bg-color;
				font-size:14px;
				p{
					margin:0; padding:0; width:60px;
				}
			}
		}
		.viewlive, .viewproject{
			position: relative;
			width: 150px; height: 22px;
			background-color: $highlight-color;
			border-radius: $round-radius;
			padding:10px;
			&>a{color:white}
		}
		.noviewlive{
			background-color: transparent;
			color: transparent;
		}
			.viewprojectarrow{
				background-color: $highlight-color;
				width: 20px;height: 20px;
				position: absolute; left:75px;
				-webkit-transform: rotate(45deg);
		           -moz-transform: rotate(45deg);
		            -ms-transform: rotate(45deg);
		             -o-transform: rotate(45deg);
		                transform: rotate(45deg);
			}
			.viewProject
			{
				cursor: pointer;
			}
	.projectdetails{
		margin: 0 0 100px 0;
		display: none;
		img{
			width:100%;
		}

	}
	.projectdescription{
		text-align: left;
		color: #828282;
	}

/*blog*/
	.blogarticle{
		margin: 5px 0;
	}
	.blogsummary{
		background-color: $dark-bg-color;
		color: $light-text-color;
		border-radius: $round-radius;
		text-align: left;
		position: relative;
		cursor: pointer;
		&:hover{
			color: $highlight-color
		}
		transition: color 0.3s;
	}
		.blogdate{
			position:absolute;
			left:0;
			width: 70px; height:100%;
			text-align: center;
			border-right:1px solid $medium-color;
		}
			.day{font-size: 20px; font-weight:bold; margin-top:15px;display:block;}
			.month{font-size: 12px;display:block; }
			
		
		.blogtitle{display:inline-block; margin-left:90px; margin-right:20px}
	.blogdetails
	{
		background-color: #fff;
		padding: 30px 3%;
		display: none;
		text-align: left;
	}

/*about*/
	.portrait{
		display:block;margin:auto;
		border:{
			radius: 109px;
			style:solid;
			width:8px;
			color: $light-text-color;
		}
	}

/*contact*/
.googleMap
{
	width:100%;
	border:0;
	display:block;
}
.iconbg
{
	background-color: $highlight-color;
	width:50px;height: 50px;border-radius: 50px;
}
.contactcontainer{background-color: white; box-shadow:0 0 20px #313131; border-radius: $round-radius; position: relative;
	& p{font-weight: bold;font-size: 24px}
}

	.call{
		display:inline-block;
		padding: 10px 3%;
		vertical-align: top;
	}
		.phonenumber{border-radius: $round-radius; padding:10px 0}

	.email{
		display:inline-block;
		padding: 10px 3%;
		vertical-align: top;
		}

		.form-fieldset,.message-area,.send-button{display:inline-block;}
		.form-fieldset>input{display: block;width:187px;}
		.form-fieldset>input, .message-area{
			padding:10px;margin:10px 0;
			border-radius:$round-radius;
			border:1px solid grey;
			vertical-align: top;
		}
		.message-area{height:64px;width: 187px;}
		.send-button{
			background-color:$dark-bg-color;
			color: $light-text-color;
			border:0;
			margin: 10px 0 10px 10px; padding:10px;
			height:86px;
			vertical-align: top;
			border-radius: $round-radius;
			font-size: 18px;
			&:active{background-color:$highlight-color}
			&:hover{cursor: pointer}
		}

/*footer*/
.sitefooter{
	background-color: $dark-bg-color;
	color: #828282;
	padding: 10px;
}
